        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body header {
            background-color: transparent;
            border-bottom: 1px solid grey;
            transition: all 0.5s;
        }
        
        header.sticky {
            padding: 5px 100px;
            background-color: #fff;
        }
        
        .navbar .navbar-brand {
            margin: 0;
            padding: 0;
            font-size: 30px;
            font-weight: 600;
            text-transform: capitalize;
            color: #fff;
        }
        
        .navbar-collapse ul li a {
            font-size: 15px;
            color: #151421;
            opacity: .8;
            background: none;
            font-weight: 600;
            padding: 6px 20px;
            text-transform: uppercase;
            transition: all 0.5s;
        }
        
        .navbar-collapse ul li a:hover {
            color: #151421;
            opacity: 1;
        }
        
        header.sticky .navbar-nav .nav-item .nav-link {
            color: #3f3a64;
        }
        
        header.sticky .navbar-nav .active .nav-link {
            color: #009f4d;
        }
        
        header.sticky .navbar-brand span {
            color: #3f3a64;
        }
        
        .navbar-expand-lg .navbar-nav .nav-link {
            transition: all 0.5s ease;
            padding: 14px 0 10px;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            opacity: .8;
            text-transform: uppercase;
        }
        
        .navbar-expand-lg .navbar-nav .nav-link:hover {
            opacity: 1;
            color: #fff;
        }
        
        .navbar .navbar-brand span.fa {
            color: #009f4d;
            margin-right: 5px;
            vertical-align: bottom;
        }
        
        .navbar .navbar-brand span.logo {
            text-transform: none;
            display: block;
            font-size: 14px;
            padding-left: 46px;
            font-weight: 600;
            opacity: .9;
        }
        
        .control .btn-material {
            line-height: 45px;
            text-align: center;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            box-sizing: border-box;
            background: #009f4d;
            outline: 0;
            transform-origin: 50%;
            transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
        }
        
        .container__content {
            position: absolute;
            bottom: 300px;
            margin: 0 120px;
        }
        
        .toggle::before {
            content: '\f185';
            font-family: fontAwesome;
            width: 24px;
            height: 24px;
            font-size: 16px;
        }
        
        body.dark .toggle::before {
            content: '\f186';
        }
        
        body.dark {
            background-color: #151421;
        }
        
        body.dark header {
            background-color: #151421;
            border-bottom: none;
        }
        
        body.dark .shape {
            fill: #151421;
        }
        
        body.dark .hero-overlay {
            background-color: rgba(29, 42, 55, 0.8);
        }
        
        body.dark .title-big {
            color: #EEEEEE;
        }
        
        body.dark #p__title {
            color: #c2c2c2;
        }
        
        body.dark .w3l-homeblock1 ul.service-list li a {
            color: #eeeeee;
        }
        
        body.dark #work {
            background-color: #100f19;
        }
        
        body.dark .text-para {
            color: #c2c2c2;
        }
        
        body.dark .grids-1 {
            background-color: #151421;
        }
        
        body.dark .title-head {
            color: #fff;
        }
        
        body.dark .title__btn {
            color: #eeee;
        }
        
        body.dark .blog-info a {
            background-color: #151421;
            color: #eeee;
        }
        
        body.dark .bg-gallery {
            background-color: #100f19;
        }
        
        body.dark .feedback-layout {
            background-color: #100f19;
        }
        
        body.dark .bg-feedback blockquote q {
            color: #c2c2c2;
        }
        
        body.dark .align-self h3 {
            color: #eeeeee;
        }
        
        body.dark .bg-blog a.blog-text {
            color: #EEEEEe;
        }
        
        body.dark .bg-blog a.blog-text:hover {
            color: #009f4d;
        }
        
        body.dark .indentity {
            color: #c2c2c2;
        }
        
        body.dark .blog-meta a {
            color: #eeeeee;
        }
        
        body.dark .meta-value,
        .date {
            color: #C2c2c2;
        }
        
        .body.dark .propress {
            color: #100f19;
        }
        
        body.dark .dropdown-menu {
            background-color: #151421;
        }
        
        body.dark .dropdown-menu a {
            color: #eeee;
            opacity: .8;
            background: none;
        }
        
        body.dark .dropdown-menu a:hover {
            color: #eee;
            opacity: 1;
        }
        
        .container__content h1 {
            font-size: 65px;
            line-height: 1.1;
            margin-bottom: 18px;
            color: #e6e8f6;
            max-width: 800px;
            font-weight: 600;
        }
        
        .container__content p {
            font-size: 20px;
            line-height: 30px;
            max-width: 600px;
            color: #fff;
            letter-spacing: 0.010em;
            opacity: .9;
        }
        
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            transform: translateX(-50px);
            border: 1px solid#eee;
            border-radius: 8px;
        }
        
        a.dropdown-item {
            font-size: 15px;
            color: #3f3a64;
            background: none;
            opacity: .8;
            font-weight: 600;
            padding: 6px 20px;
            text-transform: uppercase;
        }
        
        .hero-overlay {
            background: rgba(29, 42, 55, 0.7);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        
        .shape {
            position: absolute;
            width: 100%;
            bottom: 0;
            fill: #fff;
        }
        
        .pull-right-demo-bar {
            float: right;
            position: fixed;
            right: 0px;
            top: 150px;
            width: 90px;
            z-index: 99999;
            text-align: center;
        }
        
        .toggle-right-sidebar span {
            background: #0D1326;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #e6ebff;
            border-radius: 50px;
            font-size: 26px;
            cursor: pointer;
            opacity: .5;
        }
        
        #right-sidebar {
            width: 0px;
            position: fixed;
            z-index: 1000;
            right: 0px;
            top: 0;
            margin-top: 140px;
            transition: all 0.5s;
        }
        
        .text-para__1 {
            color: #666666;
            font-size: 17px;
            margin: -10px 0 0;
            font-weight: bold;
        }
        
        #w3lDemoBar.w3l-demo-bar {
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            padding: 40px 5px 10px;
            padding-top: 70px;
            background: #0D1326;
            border-top-left-radius: 9px;
            border-bottom-left-radius: 9px;
        }
        
        #w3lDemoBar.w3l-demo-bar .demo-btns {
            border-top: 1px solid #41414d;
            padding-top: 30px;
        }
        
        .w3l-text {
            display: block;
        }
        
        #w3lDemoBar.w3l-demo-bar a {
            display: block;
            color: #e6ebff;
            text-decoration: none;
            line-height: 24px;
            opacity: .6;
            margin-bottom: 20px;
            text-align: center;
            transition: all 0.5s;
        }
        
        #w3lDemoBar.w3l-demo-bar a:hover {
            opacity: 1;
            color: #fff;
        }
        
        .col-6 img {
            border-radius: 8px;
        }
        
        .service-link {
            list-style: none;
            margin-bottom: 15px;
        }
        
        .service-link a:hover {
            text-decoration: none;
        }
        
        .fa-check-circle {
            color: #009f4d;
        }
        
        .w3l-homeblock1 ul.service-list li a {
            font-size: 18px;
            line-height: 28px;
            font-weight: bold;
            color: #3f3a64;
            position: relative;
        }
        
        .w3l-features .call-grids-w3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
        }
        
        .w3l-features .box-wrap {
            padding: 40px 30px;
            border-radius: 8px;
            text-align: center;
            box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
            background-color: #fff;
        }
        
        #work {
            background-color: #f7f7f7;
        }
        
        .grids-1 h4 {
            margin: 25px 0 0;
        }
        
        .title-head {
            color: #3f3a64;
            font-size: 22px;
            transition: all 0.5s;
            font-weight: bold;
        }
        
        .grids-1 .title-head:hover {
            text-decoration: none;
            color: #009f4d;
        }
        
        .box-wrap {
            transition: all 0.5s;
        }
        
        .w3l-features .box-wrap:hover {
            transform: translateY(-0.25rem);
            box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
        }
        
        .btn-style:hover {
            color: #fff;
            background-color: #008030;
            border-color: #00732c;
        }
        
        .grids5-info:hover .blog-info a.title {
            color: #009f4d;
            text-decoration: none;
        }
        
        .blog-info a.title {
            font-size: 19px;
            line-height: 28px;
            font-weight: bold;
            color: #3f3a64;
            text-align: center;
            background: #fff;
            padding: 12px 35px;
            display: inline-block;
            border: 1px solid transparent;
            border-radius: 8px;
            transform: translateY(-25px);
            box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
            transition: all 0.5s;
        }
        
        .d-block img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        
        .btn__learn a {
            padding: 8px 35px;
            font-size: 16px;
            line-height: 28px;
            font-weight: bold;
            transition: 0.3s ease-in;
            color: #3f3a64;
            border-radius: 8px;
        }
        
        .btn__learn a:hover {
            color: #009f4d;
        }
        
        .title-big {
            font-size: 35px;
            line-height: 45px;
            font-weight: bold;
        }
        
        #navbarTogglerDemo02 {
            text-align: center;
        }
        
        .navbar-toggler {
            background-color: #009f4d;
        }
        
        header.active {
            background: rgba(0, 0, 0, 0.7);
        }
        
        .footer-end p a {
            transition: all 0.5s;
            color: #97a1a9;
        }
        
        .footer-end p a:hover {
            color: #eeeeee;
            text-decoration: none;
        }
        
        .footer-end li a {
            transition: all 0.5s;
            color: #97a1a9;
        }
        
        .footer-end li a:hover {
            color: #eeeeee;
            text-decoration: none;
        }
        
        .copy-footer a {
            text-decoration: none;
            color: #009f4d;
            transition: all 0.5s;
        }
        
        .copy-footer a:hover {
            text-decoration: none;
            color: #eeeeee;
        }